.taskBg {
    background-color: #c5d5cb;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
}

.taskBg div {
    display: flex;
    align-items: center;
}

.taskNumber {
    color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.taskBg .taskText {
    flex: 1;
}

.taskBg .done .taskText {
    text-decoration: line-through;
    opacity: 0.3;
}

.taskBg .iconsWrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    display: inline-block;
}

.taskBg .iconsWrap span {
    display: inline-block;
    margin: 0px 10px 0 10px;
    cursor: pointer;
    color: rgb(53, 47, 47);
}

.taskBg .iconsWrap span:hover {
    color: rgb(0, 0, 0);
}

.mr-20 {
    margin-right: 20px;
}
.wrapper{
   width: 510px;
 
}
.title{
    text-align: center;
    justify-content: center;
    font-size:30px;
    font-weight: 700;
    margin: 12px;
}
.inputBar{
  width: 180% !important;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  
}
.mainToDo{
    display: flex;
    width: 100%;
}
.addTaskButton{
    margin-left: 150px;
     height: 40px;
     width: 85px;
     color: white;
     background-color: #0467FB;
     border: none;
     border-radius: 5px;
     font-size: 15px;

}.editTaskButton{
    height: 40px;
        width: 85px;
        color: white;
        background-color: #fc4747;
        border: none;
        border-radius: 5px;
        margin-left: 5px;
        font-size: 15px;
}
.textDataHome{
    display: block;
    margin: auto;
    height: 300px;
    width:100%;
    text-align: center;
    padding-top:30px;
    font-size: 50px;
}
.mydataofLocal{
    font-size: 40px;
    padding-top: 20px;
}
